interview.json
{
  "name": "interview",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-interview-questions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "51eb31a6-381c-49a1-988d-e5f38da6f7c8",
      "name": "Webhook",
      "webhookId": "76a77af8-efa6-40de-baed-4440e0d0b742"
    },
    {
      "parameters": {
        "url": "={{ $json.body.resumeUrl }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "d29774da-9c52-47f9-83dc-13f441dd2da9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "e6c6cd00-5a66-432b-8e75-55ae35e3da3b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "generate 10 interview questions and  answer based on resume in json format of fields question and answer"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "25c11175-f9a8-4612-bd10-f5f2d1559e19",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "SicbtCjp9Mlj9Slv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        0
      ],
      "id": "4766ec78-3802-44ab-9307-88f6305d66d4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6b2edfc-8578-439c-a773-fb7f3c0664d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f52c58ce7ee8a4f512cc86c6dd880994c08bb3e8656857b424dc240882880a2a"
  },
  "id": "sQikVJ7Qn9SRDrwO",
  "tags": []
}